<div>
  <h1>Events</h1>
  <hr><hr>
  <ul class="event-list thumbnails">
    <li ng-repeat="event in events | orderBy:sortOrder">
      <a href="/event/{{event.id}}">
        <div class="well col-xs-11 col-sm-5 col-md-2">
          <div class="row">
            <h2>{{event.name}}</h2>
            <div>
              <span>Date:</span>
              <span>{{event.date}}</span>
              <br>
              <span>Time:</span>
              <span>{{event.time}}</span>
              <br>
              <span>Location:</span>
              <br>
              <span>{{event.location.address}}</span>
              <br>
              <span>{{event.location.city}}, {{event.location.state}}</span>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
